*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu-link {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .menu-btn {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .menu-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  